@inject AnimationService AnimationService
@implements IDisposable

<span>You watched the beam @beamPasses times</span>
<div id="animationHost"></div>   

@code{
    int beamPasses = 0;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AnimationService.LoadAnimation("animationHost", 1000, 200);
            AnimationService.BeamPassTriggered += IncrementBeamPass;
        }
    }
    void IncrementBeamPass() {
        beamPasses++;
        StateHasChanged();
    }
    public void Dispose()
    {
        AnimationService.BeamPassTriggered -= IncrementBeamPass;
    }
}
