@page "/"
<AuthorizeView>
    <Authorized>
        <h2>Welcome to BEAM, @context.User.Identity.Name</h2>

        <p>
            <span class="oi oi-arrow-thick-left"></span>
            <span>Select a Frequency, or create a new one</span>
        </p>
    </Authorized>
    <Authorizing>
        <h2>Logging In...</h2>
    </Authorizing>
    <NotAuthorized>
        <h1>You do not have access, you should <NavLink href="/login">Log In</NavLink></h1>
    </NotAuthorized>
</AuthorizeView>
