@page "/frequency/{id:int}"
@inject IDataService data

<RayInput @bind-newRay="newRay" RayCast="@RayCast" />
<div class="spinner-border" role="status" hidden="@HideLoading">
  <span class="sr-only">Loading...</span>
</div>
@foreach (var ray in data.Rays)
{
    <p>
        <RayItem ray="@ray" />
    </p>
}

@code{
    [Parameter]
    public int Id { get; set; }

    public RayToCast newRay { get; set; } = new RayToCast();

    public bool HideLoading { get; set; } = false;


    protected override void OnParametersSet()
    {
        data.UpdatedRays += UpdateForNewRays;
        data.SelectedFrequency = Id;
    }

    void UpdateForNewRays()
    {
        HideLoading = true;
        if (!data.Rays.Any(r => r.UserName == data.CurrentUser.Name))
            newRay.Text = $"Hello, my name is {data.CurrentUser.Name}";
        else
            newRay.Text = "";
        StateHasChanged();
    }

    void RayCast()
    {
        HideLoading = false;
    }

}
