@page "/frequency/{id:int}"
@inject DataService data


<RayInput @bind-newRayText="newRayText" />
@foreach (var ray in data.Rays)
{
    <p>
        <RayItem ray="@ray" />
    </p>
}


@code{
    [Parameter]
    public int Id { get; set; }

    public string newRayText { get; set; }

    protected override void OnParametersSet()
    {
        data.UpdatedRays += UpdateForNewRays;
        data.SelectedFrequency = Id;
    }

    void UpdateForNewRays()
    {
        if (!data.Rays.Any(r => r.UserName == data.CurrentUser.Name))
            newRayText = $"Hello, My Name is {data.CurrentUser.Name}";
        StateHasChanged();
    }


}
