@inherits LayoutComponentBase
<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">BEAM</a>
    </div>
</div>

<div class="main">
    <div class="top-row px-4">
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>