@page "/login"
@layout LoginLayout
@inject NavigationManager navigationManager
@inject BeamAuthenticationStateProvider authStateProvider
<Heading Size="HeadingSize.Is2"> Login or Register </Heading>
<Column ColumnSize="ColumnSize.Is6">
    <Field>
        <TextEdit id="inputUsername" @bind-Text="login.Username" autofocus Placeholder="Username" />
    </Field>
    <Field>
        <TextEdit Role="TextRole.Password" Placeholder="Password" @bind-Text="login.Password" />
    </Field>
    <Button Color="Color.Primary" Block="true" Clicked="@SignIn">SignIn</Button>
    <Button Color="Color.Secondary" Block="true" Clicked="@Register">Register</Button>
    <Text Color="TextColor.Danger">@error</Text>
</Column>
@code{
   Beam.Shared.Login login { get; set; } = new Beam.Shared.Login();
    string error { get; set; }
    async Task SignIn()
    {
        error = null;
        try
        {
            await authStateProvider.Login(login);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    async Task Register()
    {
        error = null;
        try
        {
            await authStateProvider.Register(login);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }

    }
}